.block-article {
	background-color:white;
	border-bottom:solid 1px $site_offwhite;
	.layout-content{
		padding-bottom:100px;
		padding-top:100px;
		.container-fluid{
			@media #{$bp-tab-max} {
				max-width:860px;
			}
			@media #{$bp-mobile-max} {
				max-width:660px;
			}			
		}
		.row{

			.col-lg-4{
				padding-left:0;
				padding-right:60px;
				&:nth-child(1){
					width:calc((100% + 30px)/3);
					padding-left:30px;
				}
				&:nth-child(2){
					width:calc((100% - 60px)/3);
				}
				&:nth-child(3){
					padding-right:90px;
					width:calc((100% + 30px)/3);
				}
				@media #{$bp-tab-max} {
					&:nth-child(1){
						width:100%;
						padding-left:30px;
						padding-right:30px;
						margin-bottom:40px;
					}
					&:nth-child(2){
						width:50%;
						padding-left:30px;
						padding-right:60px;
						float:left;					}
					&:nth-child(3){
						width:50%;
						padding-left:0px;
						float:left;
					}
				}
				@media #{$bp-mobile-max} {
					&:nth-child(1){
						width:100%;
						padding-left:30px;
						padding-right:30px;
						margin-bottom:40px;
					}
					&:nth-child(2), &:nth-child(3){
						width:100%;
						padding-left:30px;
						padding-right:30px;
						float:left;
					}
				}
				.article-content{
					.article-item{
						padding-top:10px;
						border-top:solid 1px $site_lightlightgrey;
						.article-meta{
							margin-bottom:10px;
							font-size:14px;
							line-height:20px;
							.categories{
								display:inline-block;
								font-family:'sans_bold';
							}
							.date{
								font-family:'sans_regular';
								margin-left:15px;
								display:inline-block;
								color:#666666;
							}
						}
						h5.li-content{
							color:$site_lightblue;
							@media #{$bp-mobile-max} {
								margin-bottom:60px;
							}

						}
					}
				}
			}
		}
	}
}