.block-generic_content {
	background-color:white;
	padding-bottom:60px;
	padding-top:60px;
	.layout-content{
	}
	@media #{$bp-tab-max} {
	}
	@media #{$bp-desk-min} {
		.container-fluid{
			max-width:860px;
			.col-lg-12{
				.gc-content{
				}
			}
		}
	}

}