.site-footer{
	background-color:$site_darkblue;	
}
.block-footer {
	padding-top:100px;
	padding-bottom:100px;

	.footer-content{
		width:100%;
		.logo-wrapper{
			padding-bottom:100px;

		}
	}
	#footer_navigation{
	display: flex;
  flex-wrap: wrap;
		.col-lg-4{
			display: flex;
			flex-direction: column;		
			padding-left:0;
			padding-right:60px;
			&:nth-child(1),&:nth-child(4) {
				width:calc((100% + 30px)/3);
				padding-left:30px;
			}
			&:nth-child(2),&:nth-child(5){
				width:calc((100% - 60px)/3);
			}
			&:nth-child(3),&:nth-child(6){
				padding-right:90px;
				width:calc((100% + 30px)/3);
			}
			@media #{$bp-tab-max} {
				display:inline-block;
				vertical-align:top;
				&:nth-child(odd){
					width:calc(50%);
					padding-left:30px;
					padding-right:60px;
					margin-bottom:40px;
				}
				&:nth-child(even){
					width:50%;
					padding-left:0px;
					padding-right:60px;
				}
			}
			@media #{$bp-mobile-max} {
				&:nth-child(odd) {
					width:100%;
					padding-left:30px;
					padding-right:30px;
					margin-bottom:0px;
				}
				&:nth-child(even),&:nth-child(4){
					width:100%;
					padding-left:30px;
					padding-right:30px;
					float:left;
				}
				&#footer_info{
					.nav-wrapper{
						padding-bottom:0 !important;
						p{
							margin-bottom:0;
						}
					}
				}
			}
		}
		.nav-wrapper{
			padding-top:20px;
			padding-bottom:40px;
			width:100%;
			border-top:solid 1px $site_lightblue;
			>li{
				padding:0;
				margin:0;
				@include ulReset;
				>a{
					color:$site_white;
					font-family:'sans_bold';
					font-size:20px;
					line-height:20px;
				}
				ul.sub-nav{
					@include ulReset;
					margin-top:10px;
					li{
						margin-bottom:10px;
						&.main-link{
							display:none;
						}
						a{
							color:$site_white;
							font-family:'sans_regular';
							font-size:16px;
							line-height:16px;			
						}
					}
				}
			}
		}
		#footer_info{
			color:$site_white;
			p{
				color:$site_white;
			}
		}
	}
	.copyright-container{
		padding-top:100px;
		color:$site_lightblue;
	}
}
.mobile-navigation{
	.mobile-menu{
		width:100%;
		display:inline-block;
		padding-left:0;
		padding-right:0;
		.container-md{
			@media #{$bp-tab-max} {
				padding-left:0;
				padding-right:0;
			}
			@media #{$bp-mobile-max} {
				padding-left:0px;
				padding-right:0px;
			}
		}
		.primary-nav .sub-nav{
			@include ulReset
		}
		.primary-nav, .mobile-and-footer{
			>.menu-item-wrapper{
				display:block;
				float:left;
				@media #{$bp-desk-min}{
					&:nth-child(odd) {
						clear:left;
					}
				}
				@media #{$bp-tab-min}{
				}
				>a{
					font-family:'bas_bold';
					font-size:16px;
					text-transform:uppercase;
				}
				.sub-nav{
					margin-top:15px;
					margin-bottom:25px;
					li{
						display:block;
						a{
							font-family:'bas_regular';
							font-size:14px;
							text-transform:uppercase;
							line-height:40px;
						}
					}
				}
			}
		}
	}
}
