.block-list {
	background-color:white;
	border-bottom:solid 1px $site_offwhite;
	.layout-content{
		padding-bottom:100px;
		padding-top:100px;
		.container-fluid{
			@media #{$bp-tab-max} {
				max-width:860px;
			}
			@media #{$bp-mobile-max} {
				max-width:660px;
			}			
		}
		.row{
			.col-lg-4{
				padding-left:0;
				padding-right:60px;
				&:nth-child(1){
					width:calc((100% + 30px)/3);
					padding-left:30px;
				}
				&:nth-child(2){
					width:calc((100% - 60px)/3);
				}
				&:nth-child(3){
					padding-right:90px;
					width:calc((100% + 30px)/3);
				}
				@media #{$bp-tab-max} {
					&:nth-child(1){
						width:100%;
						padding-left:30px;
						padding-right:30px;
						margin-bottom:40px;
					}
					&:nth-child(2){
						width:50%;
						padding-left:30px;
						padding-right:60px;
						float:left;					}
					&:nth-child(3){
						width:50%;
						padding-left:0px;
						float:left;
					}
				}
				@media #{$bp-mobile-max} {
					&:nth-child(1){
						width:100%;
						padding-left:30px;
						padding-right:30px;
						margin-bottom:40px;
					}
					&:nth-child(2), &:nth-child(3){
						width:100%;
						padding-left:30px;
						padding-right:30px;
						float:left;
					}
				}
				.list-content{
					.list-item{
						img{
							//margin-top:-2px;
							margin-right:20px;
							display:inline-block;
						}
						h5.li-content{
							vertical-align:top;
							width:calc(100% - 52px);
							display:inline-block;
							margin-bottom:60px;
							a{
								color:$site_darkblue;
							}
							@media #{$bp-mobile-max} {
								margin-bottom:40px;
							}
						}
					}
				}
			}
		}
	}
}