body{
	padding-top:80px;
	&.admin-bar{
	}
}
.module {
	clear: both;
	.bg-light{
		background-color:$site_white;
	}
	.bg-dark{
		background-color:$site_offwhite;
	}
}
.module{
	.gc-content{
		ul{
			margin-block-start: 1em;
			margin-inline-start: 0;
			padding-inline-start: 20px;     
			list-style-type:none;
			li{
				color:$site_grey;
				margin-bottom:10px;
					font-size:16px;
				&::before {
					content: "\2022";
					display: inline-block;
					width: 20px;
					font-size:16px;
					margin-left: -20px;
					color: $site_lightblue;
				}
			}       
		}
	}
}
// Block Level Elements (for uniform margin)
// See: https://developer.mozilla.org/en-US/docs/HTML/Block-level_elements
address,figcaption,ol,article,figure,output,aside,
p,audio,form,pre,h1,h2,h3,h4,h5,h6,canvas,table,
dd,hgroup,tfoot,hr,ul,dl,video,fieldset,noscript {
}
p:last-child{
//  margin-bottom:0;    
}
.container{
	//background-color:yellow;
}
.two-column-wrapper{
	.container, .container-fluid, .container-lg, .container-md{
		max-width:100%;
	} 
}
a.site-button {
	border-radius: 20px;
	display:inline-block;
	cursor:pointer;
	font-family: 'sans_bold', sans-serif;
	font-size: 16px;
	line-height:40px;
//  font-weight: 700;
	padding:0 20px;
	text-decoration:none;
	margin-bottom:40px;
}
a.site-button:hover {
}

a.site-button:active {
	position:relative;
	top:1px;
}
a.site-button.inactive {
	cursor:default;
}

@include blue-button

a.site-button-two {
	cursor:pointer;
	font-family: 'sans_bold', sans-serif;
	font-size: 16px;
	line-height:20px;
	text-decoration:none;
	display:inline-block;
	margin-bottom:40px;
	&::after{
		content: '';
		display:block;
		margin-top:10px;
		left:0;
		height: 2.5px;
		background: $site_lightblue;
	}
}
a.site-button-two:hover {
	color:$site_darkblue;
	text-decoration:none;
}

a.site-button-two:active {
	position:relative;
	top:1px;
}

a.site-button-two {
	&.white{
		color:$site_white;
		&::after{
			background: $site_white;
		}
		&:hover{

		}
	}
}


#optional-header{
	background: rgb(0,51,102);
	background: linear-gradient(to right, rgba(0,51,102,1) 0%, rgba(0,153,204,1) 100%);
	position:relative;
	.container{
		height:100%;
		.row{
			h1{
				text-align:center;
				padding-top:60px;
				padding-bottom:60px;
				color:$site_white;
			}
		}
	}
	@media #{$bp-tab-min} {
		.container{
			width:100%;
			max-width:660px;
		}
	}
	@media #{$bp-tab-min} {
		.container{
			width:100%;
			max-width:1260px;
		}
	}


}
$select_width: 100%;
$select_radius: 8px;
/* select starting stylings ------------------------------*/
.select {
	margin-right:20px;
	position: relative;
	width: $select_width;
}

.select-text {
	position: relative;
	background-color: $site_white;
	width: $select_width;
	padding: 15px;
	font-size: 16px;
	line-height:18px;
	border-radius: $select_radius;
	border:0;
	outline:0;
	color:$site_grey;
}

/* Remove focus */
.select-text:focus {
	outline: none;
}

	/* Use custom arrow */
.select .select-text {
	appearance: none;
	-webkit-appearance:none
}

.select:after {
	position: absolute;
	top: 12px;
	right: 20px;
	/* Styling the down arrow */
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border: solid $site_medgrey;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 7px;
	pointer-events: none;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);   
}
.site-input{
	width:100%;
	position:relative;
	margin-bottom:20px;
	input{
		position: relative;
		background-color: $site_white;
		width: $select_width;
		padding: 15px;
		font-size: 16px;
		line-height:18px;
		border-radius: $select_radius;
		border:0;
		outline:0;
		color:$site_grey;
	}

	&:after{
		position: absolute;
		top: 12px;
		right: 20px;
		content: '';
		height:25px;
		width:25px;
		background: url(/wp-content/themes/pilot/image/search.svg);
		display: inline-block;
		pointer-events: none;
	}	
}


/* HIGHLIGHTER ================================== */
.select-highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}