/*
This file contains mixins and classes to be used
with @include and @extend.  Add any new mixins here.
*/

@mixin default-grid() {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.default-grid {
  @include default-grid();
}

/* This mixin is a solution to avoid the 
   Bootstrap mobile layout with margin, negative
   margin, and padding.  Use this optionally by
   making a breakpoint that is max-layout-size
   plus outer padding, and putting that breakpoint
   to add the right layout. */

@mixin mobile-layout($padding: 20px) {
  @media #{$bp-mobile-padding} {
    padding-left: $padding;
    padding-right: $padding;
  }
}

.padding-top {
  padding-top: $block-padding !important;
}

.padding-bottom {
  padding-bottom: $block-padding !important;
}

.margin-top {
  margin-top: $block-padding !important;
}

.margin-bottom {
  margin-top: $block-padding !important;
}

// Consider using flex instead
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin grow() {
  -webkit-transition: -webkit-transform .3s linear;
        transition: transform .3s linear;

  &:hover {
      -webkit-transform: scale(1.5);
          -ms-transform: scale(1.5);
              transform: scale(1.5);
      -webkit-transition: -webkit-transform .15s linear;
              transition: transform .15s linear;
  }
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.screen-reader-text {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}




@mixin ulReset(){
  list-style-type:none;
  margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;    
}
@mixin pReset(){
  margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}


@mixin white-button {
  a.site-button {
    background-color: $site_white;
    color: $site_darkblue;
  }
  a.site-button:hover {
    background-color: $site_white;
    color: $site_lightblue;
  }

  a.site-button.inactive {
    background-color: $site_white;
    color: $site_black;
  }


}
@mixin blue-button {
  a.site-button {
    background-color: $site_lightblue;
    color: $site_white;
  }
  a.site-button:hover {
    background: rgb(0,51,102);
    background: linear-gradient(to right, rgba(0,51,102,1) 0%, rgba(0,153,204,1) 100%);

    color: #ffffff;
  }

  a.site-button:active {
  }
  a.site-button.inactive {
    background-color: $site_black;
    color: #ffffff;
  }

  /* for dark background */
  .site-button.dark-bg{
    background-color: transparent;
    border:2px solid #ffffff;
    color: #ffffff;
  }
  .site-button.dark-bg:hover {
    background-color: #ffffff;
    color: $site_black;
  }
  .site-button.dark-bg:active {
  }
}

