@font-face {
  font-family: 'sans_bold';
  src: url('fonts/DMSans-Bold.eot');
  src: url('fonts/DMSans-Bold.eot?#iefix') format('embedded-opentype'),
	 url('fonts/DMSans-Bold.woff2') format('woff2'),
	 url('fonts/DMSans-Bold.woff') format('woff'),
	 url('fonts/DMSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sans_bolditalic';
  src: url('fonts/DMSans-BoldItalic.eot');
  src: url('fonts/DMSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
	 url('fonts/DMSans-BoldItalic.woff2') format('woff2'),
	 url('fonts/DMSans-BoldItalic.woff') format('woff'),
	 url('fonts/DMSans-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sans_italic';
  src: url('fonts/DMSans-Italic.eot');
  src: url('fonts/DMSans-Italic.eot?#iefix') format('embedded-opentype'),
	 url('fonts/DMSans-Italic.woff2') format('woff2'),
	 url('fonts/DMSans-Italic.woff') format('woff'),
	 url('fonts/DMSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sans_medium';
  src: url('fonts/DMSans-Medium.eot');
  src: url('fonts/DMSans-Medium.eot?#iefix') format('embedded-opentype'),
	 url('fonts/DMSans-Medium.woff2') format('woff2'),
	 url('fonts/DMSans-Medium.woff') format('woff'),
	 url('fonts/DMSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sans_mediumitalic';
  src: url('fonts/DMSans-MediumItalic.eot');
  src: url('fonts/DMSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
	 url('fonts/DMSans-MediumItalic.woff2') format('woff2'),
	 url('fonts/DMSans-MediumItalic.woff') format('woff'),
	 url('fonts/DMSans-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sans_regular';
  src: url('fonts/DMSans-Regular.eot');
  src: url('fonts/DMSans-Regular.eot?#iefix') format('embedded-opentype'),
	 url('fonts/DMSans-Regular.woff2') format('woff2'),
	 url('fonts/DMSans-Regular.woff') format('woff'),
	 url('fonts/DMSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
	font-family:'sans_regular';
}

// Copy & Lists 
p {
}

ul li,
ol li {
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;

  &:hover {
	text-decoration: underline;
  }

  &:hover, &:active, &:focus, &:visited {
	color: $site_lightblue;
  }
}

// Headings 
h1,h2,h3,h4,h5,h6{
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
h1 {
	font-size:60px;
	line-height:60px;
	margin-bottom:20px;
}
h2 {
	font-size:50px;
	line-height:50px;
	margin-bottom:20px;
}
h3 {
	font-size:40px;
	line-height:48px;
	margin-bottom:20px;
}
h4 {
	font-family:'sans_bold';
	font-size:30px;
	line-height:36px;
	margin-bottom:20px;
}
h5 {
	font-family:'sans_bold';
	font-size:20px;
	line-height:30px;
	margin-bottom:20px;
}
h6 {
	font-family:'sans_bold';
	font-size:16px;
	line-height:20px;
	margin-bottom:10px
}
p{
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	font-size:16px;
	line-height:30px;
	margin-bottom:40px;
	color:$site_grey;	
}
@media #{$bp-mobile-max} {
	h1 {
		font-size:50px;
		line-height:50px;
	}
	h2 {
		font-size:40px;
		line-height:40px;
	}
	h3 {
		font-size:30px;
		line-height:36px;
	}
	h4 {
		font-family:'sans_bold';
		font-size:20px;
		line-height:24px;
	}
	h5 {
		font-family:'sans_bold';
		font-size:18px;
		line-height:24px;
	}
	h6 {
		font-family:'sans_bold';
		font-size:14px;
		line-height:20px;
	}
	p{
		font-size:16px;
		line-height:24px;
		margin-bottom:40px;
		color:$site_grey;	
	}
}

// Tables
table {
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}

// Code Blocks
code {
  vertical-align: bottom;
}