// Colors
$site_primary: #ffffff;
$site_white: #ffffff;
$site_lightblue: #0099CC; 
$site_darkblue: #003366; 
$site_black: black;
$site_grey : #555;
$site_lightlightgrey : #ccc;
$site_offwhite : #F2F2F2;
$site_offwhite : #F2F2F2;
$site_medgrey : #ddd;
// Layout

$block-padding: 2rem;
$element-spacing: 1rem;

// Typography

$font-1: 'sans_regular';
$font-2: 'sans_regular', sans-serif;

// Media Queries
$mobile-min : '375px';
$mobile-max : '839px';
$tab-min : '840px';
$tab-max : '1239px';
$desk-min : '1240px';

$bp-mobile-max:	"only screen and (max-width: " $mobile-max ")";
$bp-tab-min:	"only screen and (min-width: " $tab-min ")";
$bp-tab-max:	"only screen and (max-width: " $tab-max ")";
$bp-desk-min:	"only screen and (min-width: " $desk-min ")";