$tall_height:75vh;
$short_height:75vh;
$short_vh : 75vh;
$height : 75vh;
.block-media{
	.container.container-card.container-lg{
		max-width:1200px;
		width:100%;
	}
	position: relative;
	font-size: 0; // to keep inline-block display of half-width elements correct
	padding-bottom: 0;
	padding-top: 0;
	.layout-content {
		height: $height;
		width: 100%;
	}
	.img-block-wrap {
		height: $height;
	}
	.media-container{
		height: $height;
		z-index:100;
		.slide-content{
			z-index:100;
			width:100%;
			height:100%;
			position:relative;
			.lower-content{
				width:100%;
				margin: 0 auto;
				position: absolute;
				@media only screen and (max-width: 599px){
					transform:none;
					bottom:0;
				}
				@media only screen and (min-width: 600px){
					top: 50%;
					transform: translateY(-50%);
				}
				.container-card{
					color:$site_white;
					.row{
						.col-xs-6.blue-bg-wrapper{
							@media only screen and (max-width: 599px){
								width:100%;
							}
							width:600px;
							padding-left:0;
							padding-right:0;
							.blue-bg{
								@media only screen and (max-width: 599px){
									padding:40px 30px;
								}
								padding:40px 60px;
								background: rgb(0,51,102);
								background: linear-gradient(to right, rgba(0,51,102,.8) 0%, rgba(0,153,204,.8) 100%);
								color:$site_white;
								p{
									color:$site_white;
								}
								a.site-button{
									@include white-button
									&:hover{
									    background:none;										
									    background-color: $site_white;
									    color: $site_lightblue;
									}
								}
								a.site-button-two{
									color:$site_white;
									&::after{
										background: $site_white;
									}
								}
								a.site-button-two:hover {
									color:$site_lightblue;
									&::after{
										background: $site_lightblue;
									}
								}
							}
						}
					}
					.video-btn{
						float:left;
						margin-right:20px;
						svg{
							path{
								fill:$site_black;
							}
							&:hover{
								path{
									fill:#FFB100;
								}
							}
						}
					}
					.inde-btn{
						margin-top:7px;
						color:$site_black;
					}
					h1{
						color:$site_white;
					}
					.subtitle{
						p{
							color:$site_white;
						}
						img{
							float:right;
							height:70px;
						}
					}
					@media #{$bp-tab-max} {
						padding-left:30px;
						padding-right:30px;
						.subtitle{
							display:none;
						}
					}
					@media #{$bp-mobile-max} {
						padding-left:30px;
						padding-right:30px;
						.subtitle{
							display:none;
						}
					}
				}
			}
		}
		a{
			z-index:100;
			svg{
				height:50px;
				width:50px;
			}
		}
	}
	.slick-current{
		.slide-content{
			.lower-content{
				visibility:visible !important;

			}
		}
	}
	  .img-block-wrap{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
  }

  .bg-image {
	height: $height;
	width: 100%;
	background-position: top center;
	overflow: hidden;
	.video {
	  // should cover entire element
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  z-index: 1;
	  width: 100%;

	}

  }
	.filter {
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  top: 0;
	  left: 0;
	}
	.title {
		left:0px;
		width: 100%;
		text-align: center;
		color: white;
		z-index: 100;
		img {
			display: block;
			margin: 0 auto;
		}
		.title-wrap {
			//max-width: 60%;
			margin-left: auto;
			margin-right: auto;
			img.media-logo{
				height:50vh;
			}
			.subtitle {
				font-size: 18px;
				margin-bottom: 0px;
				display: block;
			}
			
			&:hover {
				a {
					&::after {
						max-height: 70px;
						-webkit-transition: max-height .5s ease;
						transition: max-height .5s ease;
					}
				}
			}
		}
	}

}
.slick-dots-div{
	bottom:15px;
	width:100%;

	position:absolute;
	//background-color:blue;
	.slick-dots-wrapper{
		width: 100%;
		.container{
			max-width: 1400px;
			width: 100%;
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;
		}
	}
}
.slick-dots {
	display: flex;
	justify-content: left;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
	
		li {
			margin: 0 0.25rem;
		}
	
		button {
			display: block;
			width: 1rem;
			height: 1rem;
			padding: 0;
			
			border: none;
			border-radius: 100%;
			background-color: white;
			
			text-indent: -9999px;
		}
	
		li.slick-active button {
		}
	
}

.video-media {
	a.video-btn {
		display: block;
		padding: 5px 60px;
		/*border-top: 2px solid white;*/
		display: inline-block;
		position: relative;
		line-height: 45px;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-height: 0;
		-webkit-transition: max-height .5s ease;
		transition: max-height .5s ease;
		opacity: .5;
		z-index: -1;
	}
	svg {
	width: 44px;
	height: 44px;
	display: inline-block;
	float: left;
	margin: 0 15px 0 0;
}
}
}



@media only screen and (max-width: 700px) {
	.block-media.caption-area-full-width .bg-image{
		padding-bottom: 0%;
	}
}


	
@media #{$bp-tab-max} {
	.block-media{
		.title{
			.title-wrap{
				img.media-logo{
					width:50%;
					height:auto;
				}
			}
		}
		.slick-dots-wrapper{
			padding-right:20px;
			padding-left:20px;
			.col-lg-12{
				padding-left:0 !important;
			}       
		}
		.lower-content{
			.subtitle{
				img{
					display:none;
				}
			}
		}
	}
}