.site-header{
	margin:0px;
	padding:0px;
	width:100%;
	background: white;

	.top_section{
		margin:0 auto;
		padding:0px;
		width:96%;
		position:relative;
	}
	.site-branding{
		margin:0px;
		padding:20px 0;
		width: span(4);
		h1{
			margin: 0;
		}		
	}
}