.block-twocolumn {
	background-color:$site_offwhite;
	padding-bottom:100px;
	padding-top:60px;
	.layout-content{
		.container-fluid{
			@media #{$bp-tab-max} {
				max-width:860px;
			}
			@media #{$bp-mobile-max} {
				max-width:660px;
			}			
			.navigation, .content{
				background-color:$site_white;
				border-radius:20px;
				//margin-right:30px;
			}
			.right-wrapper{
				float:right;
				padding-left:0;

				.gc-content{
					img{
						width:100%;
						height:auto;
						margin-bottom:60px;
					}
				}
				@media #{$bp-tab-max} {
					padding-left:30px;
				}
				@media #{$bp-mobile-max} {
					padding-bottom:60px;
				}
			}
			.left-wrapper{
				float:left;
				padding-right:60px;
				.navigation{
					margin-bottom:40px;
					.parent{
						padding:20px 40px;
						font-family:'sans_bold';
						font-size:20px;
						margin-bottom:0;
					}
					.children{
						padding:40px;
						border-top:solid 2px $site_offwhite;
						ul{
							list-style-type:none;
							@include ulReset;
							li{
								font-size:16px;
								font-family:'sans_regular';
								line-height:30px;
								margin-bottom:10px;
								color:$site_lightblue;
							}
						}
					}
				}
				.content{
					padding:40px;
				}
				@media #{$bp-tab-max} {
					padding-right:30px;
					.navigation,.content{
						width:calc(50% - 60px);
						margin-right:60px;
					}
					.navigation{
						float:left;
					}
					.content{
						float:right;
					}
				}
				@media #{$bp-mobile-max} {
					padding-right:30px;
					.navigation,.content{
						width:100%;
					}
					.navigation{
						float:none;
					}
					.content{
						float:none;
					}
				}
			}
		}
	}
}