.block-logo {
	background-color:$site_offwhite;
	.layout-content{
		padding-bottom:100px;
		padding-top:100px;
		.container-fluid{
			@media #{$bp-tab-max} {
				max-width:860px;
			}
			@media #{$bp-mobile-max} {
				max-width:660px;
			}			
		}

		.row{
			[class*='col-'] {

			}		
			.col-lg-12{
				display: flex;
				flex-wrap: wrap;
				.board{
					width:100%;
					border-radius:20px;
					background-color:$site_white;
					display: flex;
					flex-wrap: wrap;
					.logo-wrapper{
						display: flex;
						flex-direction: column;
						height:150px;
						padding-top:50px;
						padding-bottom:50px;
						border-left:solid 1px $site_lightlightgrey;
						border-top:solid 1px $site_lightlightgrey;
						&.fourby-1{
							border-left:0;
						}
						&.fourby_row{
							border-top:0;
						}
						&.logo-wrapper-empty.twoby-2{
							display:none;
						}

						@media #{$bp-tab-max}{
							&.fourby-1{
								border-left:solid 1px $site_lightlightgrey;
							}
							&.threeby-1{
								border-left:0;
							}
							&.fourby_row{
								border-top:solid 1px $site_lightlightgrey;
							}
							&.threeby_row{
								border-top:0;
							}
							&.logo-wrapper-empty.fourby-2,&.logo-wrapper-empty.fourby-3, &.logo-wrapper-empty.fourby-4, 					&.logo-wrapper-empty.twoby-2{
								display:none;
							}
						}
						@media #{$bp-mobile-max}{
							&.fourby-1{
								border-left:solid 1px $site_lightlightgrey;
							}
							&.threeby-1{
								border-left:solid 1px $site_lightlightgrey;
							}
							&.fourby_row{
								border-top:solid 1px $site_lightlightgrey;
							}
							&.threeby_row{
								border-top:solid 1px $site_lightlightgrey;
							}
							&.logo-wrapper-empty.threeby{
								display:none;
							}
							&:nth-child(odd){
								border-left:0;
							}
							&:nth-child(1),&:nth-child(2){
								border-top:0;
							}
							&.logo-wrapper-empty.twoby-2{
								display:inline-block;
								border-top:solid 1px $site_lightlightgrey;
								border-left:solid 1px $site_lightlightgrey;
							}
						}

						.logo-content{
							width:100%;
							text-align:center;
							img{
								width:175px;
								height:60px;
								@media #{$bp-mobile-max} {
									width:90%;
									height:auto;
								}
							}
						}
					}
					.logo-wrapper{
						width:25%;
						@media #{$bp-tab-max}{
							width:calc(100%/3);
						}
						@media #{$bp-mobile-max}{
							width:50%;
						}
						&.logo-wrapper-empty{
							@media #{$bp-desk-min}{
								&[class*='threeby-'] {
									display:none;
								}
								&[class*='fourby-'] {
									display:inline-block;
								}
							}
						}
					}
				}
			}
		}
	}
}