.block-blog{
	a.site-button-two, 	a.site-button{
		margin-bottom:0;
	}
	.row.load-container{
		padding-top:40px;
		padding-bottom:40px;
	}
	.blog-controls-wrapper{
		background-color:$site_offwhite;
		.blog-controls{

			padding-top:20px;
			padding-bottom:20px;
			.select{
				display:inline-block;
				margin-right:20px;
				@media #{$bp-tab-max} {
					width:100%;
					margin-bottom:20px;
				}				
			}
			#blog_search{
				display:inline-block;
			}
			@media #{$bp-tab-min} {
				.select,.site-input{
					margin-bottom:0;
					width:calc((100% - 178px)/3);
				}
				.site-input{
					display:inline-block;
				}
				.site-button{
					margin-left:30px;
					display:inline-block;
				}
			}
		}
	}
	.load-container-wrapper{
		background-color:$site_offwhite;
	}
	.blog-container-wrapper{
		.blog-container{
			.container-wrapper{
				border-bottom:solid 1px $site_lightlightgrey;

			}
			.row{
				padding-top:60px;
				padding-bottom:60px;
				&:last-child{
					border-bottom:none;
				}
				@media #{$bp-tab-max} {
//					display:inline-block;
//					width:100%;
					.title-wrapper,.content-wrapper{
						display:block;
						width:100%;
						float:none;

					}
					.title-wrapper{
						margin-bottom:10px;
					}

				}			
				.img-block-wrap{
					vertical-align:top;
					max-width:360px;
					width:100%;
					height:100%;
					img{
						width:100%;
						height:auto;
					}
				}
				.title-wrap{
					vertical-align:top;
					display:inline-block;
					text-align:left;
					.categories{
						display:inline-block;
						font-size:14px;
						font-family:'sans_bold';
					}
					.date{
						display:inline-block;
						font-size:14px;
						font-family:'sans_regular';
						margin-left:15px;												
					}
				}
				@media #{$bp-tab-max} {
					.img-block-wrap{
						display:block;
						clear:both;
						max-width:100% !important;
						img{
							width:100%;
							margin-bottom:20px;
						}
					}
					.title-wrap{
						margin-left:0;
						clear:both;
						clear:left;
						display:block;
						width:100% !important;
					}
				}
				//border-top:solid 1px $atc_lightGray;
				&:nth-child(1){
					border-top:0;
				}
				&.hr{
					padding-top:0;
					padding-bottom:0;
				//	margin-left:30px;
				//	margin-right:30px;
					hr{
						width:100%;
					}
				}
			}
		}
	}
}